<div class="selector-multiple">
    <ul class="selectable-ul">
        @foreach (var item in NoSeleccionados)
        {
            <li @onclick="@(()=>Seleccionar(item))">@item.Valor</li>
        }
    </ul>
    <div class="selector-multiple-botones">
        <button type="button" @onclick="SeleccionarTodo">@(">>")</button>
        <button type="button" @onclick="DeseleccionarTodo">@("<<")</button>
    </div>
    <ul class="selectable-ul">
        @foreach (var item in Seleccionados)
        {
            <li @onclick="@(()=>Deseleccionar(item))">@item.Valor</li>
        }
    </ul>
</div>

@code {
    [Parameter] public List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();
    [Parameter] public List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();

    void Seleccionar(SelectorMultipleModel item)
    {
        Seleccionados.Add(item);
        NoSeleccionados.Remove(item);
    }
    void Deseleccionar(SelectorMultipleModel item)
    {
        NoSeleccionados.Add(item);
        Seleccionados.Remove(item);
    }
    void SeleccionarTodo()
    {
        Seleccionados.AddRange(NoSeleccionados);
        NoSeleccionados.Clear();
    }
    void DeseleccionarTodo()
    {
        NoSeleccionados.AddRange(Seleccionados);
        Seleccionados.Clear();
    }
}
